[Unit]
Description=dump_ngrok_url_to_file
After=network-online.target
Wants=network-online.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu
ExecStart=/home/ubuntu/.asdf/shims/python /home/ubuntu/github/Omnis-Interface/RaspberryPi/ngrok/dump_url.py
Restart=on-failure

[Install]
WantedBy=multi-user.target