@import url(lato.scss); 

#app{
    font-family: 'Lato', sans-serif !important;
}

body
{
  overscroll-behavior-y: contain;
}

.v-application a {
    text-decoration: none;
}

.v-application:hover {
    text-decoration: none;
}

.content {
    height: 100%;
    display: grid;
    place-items: center;
}