# Frontend
NODE_ENV=development
VUE_APP_URL_API_IP=192.168.4.1
VUE_APP_URL_API_PORT=5302
VUE_APP_URL_API_STREAMING_PORT=4000

# DB
DB_HOST=0.0.0.0
DB_PORT=27017
DB_IP=${VUE_APP_URL_API_IP}
DB_NAME=default
DB_USER=****
DB_PASS=****

#express-session
EXPRESS_USER=user
EXPRESS_PASSWORD=pass

# Server
SERVER_PORT=${VUE_APP_URL_API_PORT}
STREAMING_PORT=${VUE_APP_URL_API_STREAMING_PORT}
SERVER_IP=${VUE_APP_URL_API_IP}

# environment 'development' or 'production'
ENV_MODE=development
LOG_LEVEL=DEBUG
PYTHON_RUN=true

# Elasticsearch Stack
ELK_VERSION=8.0.0
ELASTIC_PASSWORD='changeme'
LOGSTASH_INTERNAL_PASSWORD='changeme'
KIBANA_SYSTEM_PASSWORD='changeme'
