
engine/data/log/logs/*
engine/externallibs/*
*.pyc
node_modules
.vscode/*
omnis-lib/*
DataBase/*
dist/*
Docker/*
mongodb/*
DataBase/*
Docker/data/*
*.csv
*.save
.env
backend/src/logs/untimed_log.json
backend/src/logs/timed_log.json
