ariadne>=0.14.0
numpy>=1.22.1
opencv_contrib_python_headless>=4.5.5.62
pandas>=1.4.0
pymongo[srv]>=4.0.1
pyserial>=3.5
python-dotenv>=0.19.2
redis>=4.1.1
simplejpeg>=1.6.3
starlette>=0.17.1
uvicorn>=0.17.0.post1
websockets>=10.1
