
body {
    margin: 0px;
    overflow: hidden;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}

video {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}
